/* 全体の設定 */
:root{
  --yerrow-color: #FFFEB8;
  --yerrow-stripe: linear-gradient(-45deg, var(--yerrow-color) 25%, #F1F1F3 25%, #F1F1F3 50%, var(--yerrow-color) 50%, var(--yerrow-color) 75%, #F1F1F3 75%, #F1F1F3);
  --green-color: #D0E2D1;
  --green-stripe:linear-gradient(-45deg, var(--green-color) 25%, #F1F1F3 25%, #F1F1F3 50%, var(--green-color) 50%, var(--green-color) 75%, #F1F1F3 75%, #F1F1F3);
  --pink-color: #F4BACE;
  --pink-stripe:linear-gradient(-45deg, var(--pink-color) 25%, #F1F1F3	25%, #F1F1F3 50%, var(--pink-color) 50%, var(--pink-color) 75%, #F1F1F3 75%, #F1F1F3);
  --orange-color: #FFC696;
  --orange-stripe: linear-gradient(-45deg, var(--orange-color) 25%, #F1F1F3 25%, #F1F1F3 50%, var(--orange-color) 50%, var(--orange-color) 75%, #F1F1F3 75%, #F1F1F3);
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #F1F1F3;
}
h2{
  display:inline-block;
  padding: 0px 5px 0px 5px;
}

/* 表の設定 */
table {
  padding: 0px;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background: var(--yerrow-color);
}

.panel{
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 0 15px rgba(0,0,0,.3);
  text-align: center;
}
.top{

}
.top :link{
  color: #000;
  text-decoration: none;
  font-size: x-large;
}
.top :hover{
  text-shadow: 0px 0px 5px #FFF,0px 0px 15px #FFF,0px 0px 5px #FFF;
}
.top_name div{
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 25%;
  height: 100%;
  background-color: var(--yerrow-color);
  box-shadow: inset 0 0 15px rgba(0,0,0,.3);
}
.top_name :hover{
  background-image: var(--yerrow-stripe);
  background-size: 50px 50px;
  background-attachment: fixed;
}
.top_career div{
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 25%;
  height: 100%;
  background-color: var(--green-color);
  box-shadow: inset 0 0 15px rgba(0,0,0,.3);
}
.top_career :hover{
  background-image: var(--green-stripe);
  background-size: 50px 50px;
  background-attachment: fixed;
}
.top_create div{
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 25%;
  height: 100%;
  background-color: var(--pink-color);
  box-shadow: inset 0 0 15px rgba(0,0,0,.3);
}
.top_create :hover{
  background-image: var(--pink-stripe);
  background-size: 50px 50px;
  background-attachment: fixed;
}
.top_link div{
  align-items: center;
  justify-content: center;
  display: inline-flex;
  width: 25%;
  height: 100%;
  background-color: var(--orange-color);
  box-shadow: inset 0 0 15px rgba(0,0,0,.3);
}
.top_link :hover{
  background-image: var(--orange-stripe);
  background-size: 50px 50px;
  background-attachment: fixed;
}

.portfolio_contents{
  background-size: 30px 30px;
  background-attachment: fixed;
  width: 50%;
  padding: 5px;
  margin-left: 25%;
  margin-top: 10px;
}
.name h2{
  background: linear-gradient(transparent 40%, var(--yerrow-color) 40%);
}
.name_contents{
  background-image: linear-gradient(-45deg, #FFFEBB80 25%, #F1F1F3 25%, #F1F1F3 50%, #FFFEBB80 50%, #FFFEBB80 75%, #F1F1F3 75%, #F1F1F3	);
}

.career h2{
  background: linear-gradient(transparent 40%, var(--green-color) 40%);
  width: auto;
}
.career_contents{
  background-image: linear-gradient(-45deg, #D0E2D180 25%, #F1F1F3 25%, #F1F1F3 50%, #D0E2D180 50%, #D0E2D180 75%, #F1F1F3 75%, #F1F1F3	);
}

.create h2{
  background: linear-gradient(transparent 40%, var(--pink-color) 40%);
  width: auto;
}
.create_contents{
  background-image: linear-gradient(-45deg, #F4BACE80 25%, #F1F1F3 25%, #F1F1F3 50%, #F4BACE80 50%, #F4BACE80 75%, #F1F1F3 75%, #F1F1F3	);
}

.link h2{
  background: linear-gradient(transparent 40%, var(--orange-color) 40%);
  width: auto;
}
.link_contents{
  background-image: linear-gradient(-45deg, #FFC69680 25%, #F1F1F3 25%, #F1F1F3 50%, #FFC69680 50%, #FFC69680 75%, #F1F1F3 75%, #F1F1F3	);
}

.pagination {
  position:fixed;
  right:20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: small;
  z-index: 10;
}
.pagination a {
  display:block;
  height:20px;
  margin-bottom:5px;
  color:#000000;
  position:relative;
  padding:4px;
}
.pagination li{
  list-style: none;
}
.pagination a.active:after {
  box-shadow:inset 0 0 0 5px;
}
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:7px;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}
.pagination a:hover .hover-text {
  opacity: 1;
}
.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:10px;
  height:10px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:'';
  position: absolute;
  margin:auto;
  top:0;
  right:4px;
  bottom:0;
}

/* エクスプレッション制御 */
.expression h2{
  background: linear-gradient(transparent 40%, var(--yerrow-color) 40%);
  width: auto;
}
.expression .table{
  margin: 10px;
  padding: 5px;
  border:solid 2px var(--yerrow-color);
  border-radius: 1em;
  background-color: #FFFFFF;
}
.expression .table .title{
  font-size: large;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  background: linear-gradient(transparent 40%, var(--yerrow-color) 40%);
}
.expression .table tr{
  border: solid 1px var(--yerrow-color);
}
.expression .table tr th{
  font-weight: normal;
}
